<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kratos Performance and Fitness</title>
  <meta name="Kratos Performance and Fitness" content="">
  <meta name="Mark Hustad" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
 <%= render 'shared/header' %>
<body>


  <section class="section-trainers js--section-trainers">
    <center><h2>Meet Our Trainers</h2></center>
    <div class="container">
      <div class="row trainer-row">
        <div class="six columns">
        <div class="cody-pic"></div>
            <p class="trainer-cody">
                Cody Anthony (Co-Owner, Strength Coach)- Cody graduated from the University of Nebraska-Kearney with a BS in Exercise Science. While at Kearney, Cody played football for the Lopers, where he was the starting fullback, and three time Academic All-Conference. After graduating from UNK Cody volunteered as a strength coach for UNK's athletic programs. After a summer at UNK, Cody moved to Lincoln to volunteer as a strength coach for the University of Nebraska's Men's Basketball team. Cody holds his CSCS through the National Strength & Conditioning Association, as well as his USAW-L1SP through USA Weightlifting. During Cody's 3 years of working with collegiate athletes, he has worked with football, basketball, swimming/diving, volleyball, and wrestling. Cody has been married for 2 years to his wife Katie, and has beautiful, twin, 18 month old daughters (Skylar and Kenley.)
            </p>
        </div>
        <div class="six columns">
        <div class="jacob-pic"></div>
            <p class="trainer-jacob">
              Jacob Mertens (Co-Owner, Strength Coach, Registered Dietician)- Jacob graduated from Peru State College with a BS in Sports Management and Exercise Science. While at Peru State, Jacob was also part of the football team were he was voted a team captain, a four-year starter, two time Academic All-American and All-Conference linebacker. Jacob then received his MS in Sports Science and Coach while working as a Graduate Assistant Strength and Conditioning Coach for the University of Akron football team. Jacob also went to school at the University of Nebraska for nutrition and will sit for his Registered Dietitians exam this fall. Jacob also holds his CSCS through the NSCA. In total, Jacob has worked over 5 years as a collegiate strength and conditioning coach. His working experience includes the University of Idaho, University of Washington, Peru State College, Iowa State University, Monmouth University, University of Akron, University of Nebraska, University of Oregon, and the University of Alabama. During these working experience, Jacob has worked with athletes in a variety of sports including football, basketball, track, cross country, volleyball, soccer, crew, bowling, softball, baseball, field hockey, and lacrosse.
            </p>
        </div>
      </div>
 </div>
</section>

  <section class="section-about js--section-about">
  <div class="container">
      <div class="row">
        <div class="twelve columns
         about-us">
        <div class="about js--about">
            <h3 class="about-title">Who We Are</h3>
            <p>
              Kratos defined- is the personification of strength and power in Greek mythology.  That is our roots here at Kratos, we have an "Old School" mentality of training combined with the newest research to deliver a top notch product.  Our staff has over 10 years of combined collegiate strength and conditioning experience under some of the best coaches around the country.  We have our very own registered dietician, who will is available to meet with anybody who is interested.  We want to work with everybody who wants to better themselves; whether that be the next star collegiate athlete, one of Lincoln's real hero's (Military, Police, Firefighters, EMT's), or somebody who wants to shed a few pounds.
               <br><%=link_to 'learn more', about_path, class: 'learn-more' %>
            </p>
        </div>    
        <div>
      </div>
  </div>
</section>

<section class="section-nutrition js--section-nutrition">
  <div class="container">
    <center><h2>Nutrition</h2></center>
      <div class="row">
        <div class="twelve columns js--service-col">
            <p class="nutrition-paragraph">
                Kratos provides nutritional expertise through Jake Mertens, registered dietitian who educates clients on how to live a healthier life and increase athletic performance. Clients will get a personalized meal plan based around their specific needs, demands, and personal goals. Meal plans are constructed using a whole food approach with appropriate supplements. The Kratos nutrition program is founded on current research and personal experience. Members will also benefit from regular handouts regarding trending topics and information. Kratos is a proud retailer of Thorne Research supplements. Contact our dietitian/strength & conditioning coach Jacob Mertens for questions or to book an appointment.
            </p>
        </div>
      </div>
  </div>
    <!-- <div class="centering">
      <a class="button button-primary consult-button" href="#">Get a consultation</a>
    </div> -->
</section>
<div class="section-facilities">
  <div class="facilities">
    <h2>Amenities</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="facilities-2">
    <h2>Cardio</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p>
  </div>
  <div class="facilities-3">
    <h2>More Cardio</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p>
  </div>
</div>

<section class="section-group-packages js--group-member-packages">
  <div class="container">
    <h2 class="group-member-title">Group and Membership Packages</h2>
      <div class="centering">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
    <div class="centering personal-packages">
    <%= link_to 'See Group Packages', asset_path('group-sheet.pdf'), class: 'group-pricing-sheet' %><br><br>
    <%= link_to 'See Membership Pricing', asset_path('member-sheet.pdf'), class: 'group-pricing-sheet' %>
      <button class="button group-packages-button" value="toggle" id="toggle-group">View Group Rates</button>
    </div>
  <div class="group-container">
  <div class="expand-group">   
    <div class="row">
      <div class="twelve columns">
        <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="6">1 Hour Sessions</th>
              <tr><th class="package-header" colspan="6">Packages</th></tr>
              <tr>
                <th rowspan="2">Number in Group</th>
                <th colspan="5">Price per Session</th>
              </tr>
              <tr>
                <th>1 Session</th>
                <th>5 Sessions</th>
                <th>10 Sessions</th>
                <th>25 Sessions</th>
                <th>50 Sessions</th>
              </tr>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>$40.00</td>
                  <td>$37.50</td>
                  <td>$35.50</td>
                  <td>$32.50</td>
                  <td>$30.00</td>
                </tr>
                 <tr>
                  <td>3</td>
                  <td>$35.00</td>
                  <td>$32.50</td>
                  <td>$30.00</td>
                  <td>$27.50</td>
                  <td>$25.00</td>
                </tr>
                 <tr>
                  <td>4</td>
                  <td>$30.00</td>
                  <td>$27.50</td>
                  <td>$25.00</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                </tr>
                 <tr>
                  <td>5</td>
                  <td>$25.00</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                  <td>$17.50</td>
                  <td>$15.00</td>
                </tr>
              </tbody>    
        </table>
      </div>
      </div>
      <div class="row">
      <div class="twelve columns">
        <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="6">1 Hour Sessions</th>
              <tr><th class="package-header" colspan="6">EFT</th></tr>
              <tr>
                <th rowspan="2">Number in Group</th>
                <th colspan="5">Price per Session</th>
              </tr>
              <tr>
                <th>1 Session</th>
                <th>5 Sessions</th>
                <th>10 Sessions</th>
                <th>25 Sessions</th>
                <th>50 Sessions</th>
              </tr>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>$35.00</td>
                  <td>$32.50</td>
                  <td>$30.00</td>
                  <td>$27.50</td>
                  <td>$25.00</td>
                </tr>
                 <tr>
                  <td>3</td>
                  <td>$30.00</td>
                  <td>$27.50</td>
                  <td>$25.00</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                </tr>
                 <tr>
                  <td>4</td>
                  <td>$25.00</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                  <td>$17.50</td>
                  <td>$15.00</td>
                </tr>
                 <tr>
                  <td>5</td>
                  <td>$20.00</td>
                  <td>$17.50</td>
                  <td>$15.00</td>
                  <td>$12.50</td>
                  <td>$10.00</td>
                </tr>
              </tbody>    
        </table>
      </div>
      </div>
      <div class="row">
      <div class="twelve columns">
        <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="6">1/2 Hour Sessions</th>
              <tr><th class="package-header" colspan="6">Packages</th></tr>
              <tr>
                <th rowspan="2">Number in Group</th>
                <th colspan="5">Price per Session</th>
              </tr>
              <tr>
                <th>1 Session</th>
                <th>5 Sessions</th>
                <th>10 Sessions</th>
                <th>25 Sessions</th>
                <th>50 Sessions</th>
              </tr>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>$27.50</td>
                  <td>$25.50</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                  <td>$7.50</td>
                </tr>
                 <tr>
                  <td>3</td>
                  <td>$25.00</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                  <td>$17.50</td>
                  <td>$15.00</td>
                </tr>
                 <tr>
                  <td>4</td>
                  <td>$22.50</td>
                  <td>$20.00</td>
                  <td>$17.50</td>
                  <td>$15.00</td>
                  <td>$12.50</td>
                </tr>
                 <tr>
                  <td>5</td>
                  <td>$20.00</td>
                  <td>$17.50</td>
                  <td>$15.00</td>
                  <td>$12.50</td>
                  <td>$10.00</td>
                </tr>
              </tbody>    
        </table>
      </div>
      </div>
      <div class="row">
      <div class="twelve columns">
        <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="6">1 Hour Sessions</th>
              <tr><th class="package-header" colspan="6">EFT</th></tr>
              <tr>
                <th rowspan="2">Number in Group</th>
                <th colspan="5">Price per Session</th>
              </tr>
              <tr>
                <th>1 Session</th>
                <th>5 Sessions</th>
                <th>10 Sessions</th>
                <th>25 Sessions</th>
                <th>50 Sessions</th>
              </tr>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>$21.25</td>
                  <td>$20.00</td>
                  <td>$18.75</td>
                  <td>$17.50</td>
                  <td>$16.25</td>
                </tr>
                 <tr>
                  <td>3</td>
                  <td>$20.00</td>
                  <td>$18.75</td>
                  <td>$17.50</td>
                  <td>$16.25</td>
                  <td>$15.00</td>
                </tr>
                 <tr>
                  <td>4</td>
                  <td>$18.75</td>
                  <td>$17.50</td>
                  <td>$16.25</td>
                  <td>$15.00</td>
                  <td>$13.75</td>
                </tr>
                 <tr>
                  <td>5</td>
                  <td>$17.50</td>
                  <td>$16.25</td>
                  <td>$15.00</td>
                  <td>$13.75</td>
                  <td>$12.50</td>
                </tr>
              </tbody>    
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <table class="pricing-table make-it-slow">
            <tr>
              <th class="package-header" colspan="3">Monthly Pricing</th
            </tr>
            <tr>
              <td>With Personal Training</td>
              <td>Without Personal Training</td>
              <td>Military, Firefighters, and Law Enforcement</td>
            </tr>
            <tr>
              <td>$35</td>
              <td>$50</td>
              <td>$30</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <table class="pricing-table make-it-slow">
            <tr>
              <th class="package-header" colspan="3">Yearly Pricing</th
            </tr>
            <tr>
              <td>With Personal Training</td>
              <td>Without Personal Training</td>
              <td>Military, Firefighters, and Law Enforcement</td>
            </tr>
            <tr>
              <td>$385</td>
              <td>$550</td>
              <td>$330</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <table class="pricing-table make-it-slow">
            <tr>
              <th class="package-header" colspan="3">Family Pricing</th
            </tr>
            <tr>
              <td>2 Members</td>
              <td>3 Members</td>
              <td>4 + Members</td>
            </tr>
            <tr>
              <td>$5 off per Member/Month</td>
              <td>$7 off per Member/Month</td>
              <td>$10 off per Member/Month</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-packages js--section-packages">
  <div class="container">
  <h2>Personal Training</h2>
    <div class="centering">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  <div class="centering personal-packages">
    <button class="button packages-button" value="toggle" id="toggle">View Training Packages</button>
  </div>
  <div class="expand">
      <div class="row">
        <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">Packages</th>
                <tr>
                  <th>Number of sessions</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$75.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$62.50</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>$60.00</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>$50.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">EFT</th>
                <tr>
                  <th>Sessions per week</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$60.00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$57.50</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$52.50</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$50.00</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="row">
        <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">Packages</th>
              </thead>
                <tr>
                  <th>Number of sessions</th>
                  <th>Price per session</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$50.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$37.50</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>$32.50</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>$30.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">EFT</th>
                <tr>
                  <th>Sessions per week</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$37.50</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$32.50</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$30.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$27.50</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

  </div>
</section>


<%= render 'shared/footer' %>

</body>
</html>
