<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Nebraska Certified Strength and Fitness</title>
  <meta name="Nebraska Certified Strength and Fitness" content="">
  <meta name="Mark Hustad" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 <%= render 'shared/header' %>

<section class="section-services js--section-services">
  <div class="container">
    <center><h2>Services</h2></center>
      <div class="row">
        <div class="four columns js--service-col"><i class="ion-ios-body-outline icon-big"></i>
            <h4>Programs</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="four columns js--service-col"><i class="ion-ios-nutrition-outline icon-big"></i>
            <h4>Nutrition</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus..
            </p>
        </div>
        <div class="four columns js--service-col"><i class="ion-clipboard icon-big"></i>
            <h4>Consulting</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        <div>
      </div>
  </div>
        <div class="centering">
          <a class="button button-primary consult-button" href="#">Get a free consultation</a>
        </div>
</section>

<section class=" section-about js--section-about">
  <div class="container">
      <div class="row">
        <div class="four columns offset-by-eight column about-us">
        <div class="about js--about">
            <h3>Who We Are</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus <br><%=link_to 'learn more', about_path %>
            </p>
        </div>    
        <div>
      </div>
  </div>
</section>

<section class="section-testimonials js--section-testimonials">
  <div class="container">
    <center><h2>Testimonials</h2></center>
      <div class="row">
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Mike F</cite>
        </div>
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Rob Riches</cite>
        </div>
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Greg Plitt</cite>
        <div>
      </div>
  </div>
</section>

<section class="section-trainers js--section-trainers">
  
    <center><h2>Meet Our Trainers</h2></center>
    <div class="container">
      <div class="row">
        <div class="three columns">
        <%= image_tag("girltrainer1.jpg", :alt => "trainer 1", :class => "trainer-image") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="three columns">
        <%= image_tag("guytrainer1.jpg", :alt => "trainer 1", :class => "trainer-image") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="three columns">
        <%= image_tag("girltrainer2.jpg", :alt => "trainer 2", :class => "trainer-image") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="three columns">
        <%= image_tag("guytrainer2.jpg", :alt => "trainer 1", :class => "trainer-image") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        <div>
      </div>
 </div>
        <div class="centering">
          <a class="button button-primary consult-button" href="#">Click here for a free training session</a>
        </div>
</section>

<section class="section-benefits">
  <div class="container">
  <h2>Kratos Benefits</h2>
    <div class="row">
      <div class="six columns">
      <i class="ion-ios-americanfootball icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>LOREM IPSUM DOLOR SIT</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-pulse icon-big ben-icon"></i>
         <div class="ben-chunk">
          <h5>PROIN ALIQUAM FACILISIS</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-bookmarks icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>VESTIBULUM NEC NIBH AT</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
      </div>
      <div class="six columns">
      <i class="ion-ios-body icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>CONDIMENTUM IMPERDIET</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-bookmarks icon-big ben-icon"></i>
         <div class="ben-chunk">
          <h5>PROIN EGET ODIO EGET TURPIS</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-time icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>AENEAN EGET EX AT TURPIS</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-facilities">
  <div class="facilities"><h2>Amenities</h2><p class="paragraph-facilities">some words and shit</p></div>
  <div class="facilities-2"><h2>Cardio</h2><p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p></div>
  <div class="facilities-3"><h2>More Cardio</h2><p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p></div>
  <div class="facilities-4"><h2>Something Else</h2><p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p></div>
</div>

<%= render 'shared/footer' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>
