<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Nebraska Certified Strength and Fitness</title>
  <meta name="Nebraska Certified Strength and Fitness" content="">
  <meta name="Mark Hustad" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><a href="#about" class="js--scroll-to-author">About</a></li>
              <li><a href="#programs" class="js--scroll-to-contact">Programs</a></li>
              <li><a href="#nutrition" class="js--scroll-to-main-nav">Nutrition</a></li>
              <li><a href="#coaches" class="js--scroll-to-fan-pics">Coaches &amp; Trainers</a></li>
              <li><a href="#contact" class="js--scroll-to-book">Contact</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
    <div class="container">
    <center>
      <h1>Nebraska Certified Strength &amp; Fitness</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a class="button button-primary sign-up" href="#">Sign Up for Now</a>
    </div>
    </center>
  </header>

<section class="section-services js--section-services">
  <div class="container">
    <center><h2>Services</h2></center>
      <div class="row">
        <div class="four columns js--service-col"><i class="ion-ios-body-outline icon-big"></i>
            <h3>Programs</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="four columns js--service-col"><i class="ion-ios-nutrition-outline icon-big"></i>
            <h3>Nutrition</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus..
            </p>
        </div>
        <div class="four columns js--service-col"><i class="ion-clipboard icon-big"></i>
            <h3>Consulting</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        <div>
      </div>
  </div>
</section>

<section class=" section-about js--section-about">
  <div class="container">
      <div class="row">
        <div class="four columns offset-by-eight column about-us">
        <div class="about js--about">
            <h3>Who We Are</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus <br><%=link_to 'learn more', "#" %>
            </p>
        </div>    
        <div>
      </div>
  </div>
</section>

<section class="section-testimonials js--section-testimonials">
  <div class="container">
    <center><h2>Testimonials</h2></center>
      <div class="row">
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Mike F</cite>
        </div>
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Rob Riches</cite>
        </div>
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Greg Plitt</cite>
        <div>
      </div>
  </div>
</section>

<section class="section-trainers js--section-trainers">
  
    <center><h2>Meet Our Trainers</h2></center>
    <div class="container">
      <div class="row">
        <div class="three columns">
        <%= image_tag("girltrainer1.jpg", :alt => "trainer 1", :id => "u-max-full-width") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="three columns">
        <%= image_tag("guytrainer1.jpg", :alt => "trainer 1", :id => "u-max-full-width") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="three columns">
        <%= image_tag("girltrainer2.jpg", :alt => "trainer 2", :id => "u-max-full-width") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
        <div class="three columns">
        <%= image_tag("guytrainer2.jpg", :alt => "trainer 1", :id => "u-max-full-width") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        <div>
      </div>
 </div>
</section>


<div class="section-facilities lazy">
  <div class="facilities"><h2>Amenities</h2><p class="paragraph-facilities">some words and shit</p></div>
  <div class="facilities-2"><h2>Free Weights</h2><p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p></div>
  <div class="facilities-3"><h2>Cardio</h2><p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p></div>
  <div class="facilities-4"><h2>Something Else</h2><p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p></div>
</div>




<footer class="index-footer">
  <div class="container">
    <div class="row top-footer">
      <div class="three columns footer-col"><h5>About</h5>
        <ul class="footer-list">
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
      <div class="three columns footer-col"><h5>Programs</h5>
        <ul class="footer-list">
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
        </ul>  
      </div>
      <div class="three columns footer-col"><h5>Nutrition</h5>
        <ul class="footer-list">
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
      <div class="three columns footer-col"><h5>Coaching</h5>
        <ul class="footer-list">
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
    </div>
    <div class="line-break"></div>
    <div class="container">
      <div class="row bottom-footer">
        <center>
        <h4>Find Us</h4>
        <div class="social-links">
          <a href="#"><i class="ion-social-twitter social-icons"></i></a>
          <a href="#"><i class="ion-social-facebook social-icons"></i></a>
          <a href="#"><i class="ion-social-googleplus social-icons"></i></a>
          <a href=""><i class="ion-social-instagram social-icons"></i></a>
          <a href="#"><i class="ion-social-youtube social-icons"></i></a>
        </div>
        </center>
      </div>
      <div class="row">
        <p class="footer-company-name">Nebraska Certified Strength and Fitness &copy; <%=Time.now.year %></p>
      </div>
    </div>  
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>
