<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="0">
  <%= render 'shared/header' %>
  

  <!-- header -->
  <header class="intro" id="intro" data-speed="6" data-type="background">
    <div class="intro-body">
      <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= image_tag("kratos_main_logo3.png", alt: 'kratoslogo', class: 'kratos-logo js--kratos-logo') %>
            </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end of header -->

<!-- beginning of trainer section -->
<section id="trainer" data-speed="4" data-type="background" class="content-section light-paragraph">

<!-- Modal overlays for trainer bios -->
<%= render 'modals/cody_modal' %>
<%= render 'modals/david_modal' %>
<%= render 'modals/nick_modal' %>
<br>
  <div class="container">
    <h2>Trainers</h2>
    <div class="row">
      
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag("codykratos-opted.jpg", class: "img-responsive", id: "trainer-image") %>
        <h4 id="trainer-title">Cody Anthony</h4>
        <a value="toggle", class="read-more-link", data-toggle="modal" data-target="#codyModal">Read More</a>
        <br>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag("davidkratos-opted.jpg", class: "img-responsive", id: "trainer-image") %>
        <h4 id="trainer-title">David Schwartz</h4>
        <a value="toggle", class="read-more-link", data-toggle="modal" data-target="#davidModal">Read More</a>
        <br>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag("nickkratos-opted.jpg", class: "img-responsive", id: "trainer-image") %>
        <h4 id="trainer-title">Nick Reimers</h4>
        <a value="toggle", class="read-more-link", data-toggle="modal" data-target="#nickModal">Read More</a>
      </div>
    </div>

    <div class="row">
      
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <%= image_tag("optimized-daltonheadshot.jpg", class: "img-responsive", id: "trainer-image") %>
        <h4 id="trainer-title">Dalton Barnard</h4>
        <a value="toggle", class="read-more-link", data-toggle="modal" data-target="#daltonModal">Read More</a>
        <br>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag("chanceheadshot2.jpg", class: "img-responsive", id: "trainer-image") %>
        <h4 id="trainer-title">Chance Baumann</h4>
        <a value="toggle", class="read-more-link", data-toggle="modal" data-target="#chanceModal">Read More</a>
      </div>

    </div>

  </div>

</section>

  

<!-- beginning of about section -->

<section id="about" data-speed="4" data-type="background" class="content-section text-center light-section js--section-about">
  <div class="container">
      <div class="row">
        <div class="twelve columns
         about-us">
        <div class="about js--about">
            <h3 class="about-title">Who We Are</h3>
            <p>
              Kratos defined- is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an "Old School" mentality of training combined with the newest research to deliver a top-notch product. Our staff has over 10 years of combined collegiate strength and conditioning experience under some of the best coaches around the country. We also have our very own registered dietitian, who will educate clients based on their personal needs. Kratos works with everybody who wants to better themselves; whether that be the next star collegiate athlete, one of Lincoln's real hero's (Military, Police, Firefighters, EMT's), or somebody who wants to shed a few pounds.
            </p>
        </div>    
        <div>
      </div>
  </div>
</section>

<!-- beginning of programs section -->
<section id="program" class="content-section js--section-nutrition text-center light-paragraph">
  <div class="container">
  <center><h2>Programs</h2></center>
    <center><h3 class="programs-title js--programs-title-nutrition">Nutrition</h4></center>
      <div class="row">
        <div class="twelve columns js--nutrition-col">
            <p class="nutrition-paragraph">
                Clients can get a personalized meal plan based around their specific needs, demands, and personal goals. Meal plans are constructed using a whole food approach with appropriate supplements as needed. The Kratos nutrition program is founded on current research and personal experience. Members will also benefit from regular handouts regarding trending topics and information. Contact our dietitian/strength & conditioning coach for questions or to book an appointment.
            </p>
        </div>
      </div>
      <center><h3 class="programs-title js--programs-title-wellness">Corporate Wellness</h4></center>
      <div class="row">
        <div class="twelve columns js--wellness-col">
            <p class="wellness-paragraph">
                Kratos works with businesses to identify specific health needs of employees by building a program around nutrition and exercise. Services include educational seminars, body measurements, fitness challenges, customized exercise programs and meal plans. Multiple studies have shown that businesses who offer wellness programs benefit from increased employee retention and productivity as well as decreased medical claim costs, insurance premiums, and absenteeism. Business wellness programs have been shown to have over a $2.50 return on investment and a decrease in $6 in health care savings for every dollar spent.
            </p>
        </div>
      </div>
      <center><h3 class="programs-title js--programs-title-performance">Sports Performance</h4></center>
      <div class="row">
        <div class="twelve columns js--performance-col">
            <p class="performance-paragraph">
               Kratos’ Certified Strength and Conditioning Specialists work with youth from age 5 up to adults training for their next competition. Our philosophy is based around increasing strength, power, mobility, and decreasing the risk of injury. This is achieved by focusing on form and technique before intensity. Exercise programs start with a base foundation for youth and increase in specificity as the athlete develops. Sports performance programs can be done through our group or personal training.
            </p>
            <p class="performance-paragraph"><div class="trigger-for-color"></div>
                
            </p>
        </div>
      </div>
  </div>
</section>


<div class="section-facilities js--section-facilities">
  <div class="facilities">
  </div>
  <div class="facilities-2">
    <h2>Cardio Equipment</h2>
  </div>
  <div class="facilities-3">
    <h2>Glute Ham</h2>
      <!-- p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p> -->
  </div>
  <div class="facilities-4">
    <h2>Free Weights</h2>
  </div>
  <div class="facilities-5">
    <h2>Seven Barbell Racks</h2>
  </div>
</div>

<section class="section-group-packages js--group-member-packages smaller-content-section" id="membership">
  <div class="container">
    <h2 class="group-member-title">Membership Packages</h2>
      <div class="centering">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
    <div class="centering personal-packages">
    <%= link_to 'See Membership Pricing', asset_path('member-sheet.pdf'), class: 'group-pricing-sheet' %>
      <button class="btn btn-default" value="toggle" id="toggle-group">View Membership Rates</button>
    </div>
  <div class="group-container">
  <div class="expand-group">   
   
      <div class="row">
        <div class="col-sm-12">
          <table class="pricing-table make-it-slow">
            <tr>
              <th class="package-header" colspan="3">Monthly Pricing</th
            </tr>
            <tr>
              <td>With Personal Training</td>
              <td>Without Personal Training</td>
              <td>Military, Firefighters, and Law Enforcement</td>
            </tr>
            <tr>
              <td>$35</td>
              <td>$50</td>
              <td>$30</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="pricing-table make-it-slow">
            <tr>
              <th class="package-header" colspan="3">Yearly Pricing</th
            </tr>
            <tr>
              <td>With Personal Training</td>
              <td>Without Personal Training</td>
              <td>Military, Firefighters, and Law Enforcement</td>
            </tr>
            <tr>
              <td>$385</td>
              <td>$550</td>
              <td>$330</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="pricing-table make-it-slow">
            <tr>
              <th class="package-header" colspan="3">Family Pricing</th
            </tr>
            <tr>
              <td>2 Members</td>
              <td>3 Members</td>
              <td>4 + Members</td>
            </tr>
            <tr>
              <td>$5 off per Member/Month</td>
              <td>$7 off per Member/Month</td>
              <td>$10 off per Member/Month</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="store" class="js--section-products smaller-content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Store</h2>
        <div class="centering">
          <i class="fa fa-shopping-cart"></i><br><br>
          <a href="https://clients.mindbodyonline.com/classic/home?studioid=442405" target="_blank" class="btn btn-default">Click Here</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/new_footer' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55146955-3', 'auto');
  ga('send', 'pageview');

</script>
</body>

<!-- http://via.placeholder.com/350x150  placeholder example for development -->