<%= render 'shared/alt-header' %>
<div class="container staff-container">
    <div class="row staff-row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Our Trainers</h3>
            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <%=image_tag("codykratos-opted.jpg", alt: "team member", class: "img-responsive") %>
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Cody Anthony</h4>
                        <p>
                            Cody graduated from the University of Nebraska-Kearney with a BS in Exercise Science. While at Kearney, Cody played football for the Lopers, where he was the starting fullback, and three time Academic ...<a type="toggle", data-toggle="modal" data-target="#codyModal">read More</a>
                        </p>
                    </div>
                    <!-- <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="team-title">
                <h5>Cody Anthony</h5>
                <span>Co-Owner, Strength Coach</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <%=image_tag("david3.jpg", alt: "team member", class: "img-responsive") %>
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>David Schwartz</h4>
                        <p>
                            David graduated from the University of Nebraska with a BS in Exercise, nutrition, and health sciences. While at UNL, David worked for three years as an intern-assistant strength coach for the men’s basketball team ...<a type="toggle", data-toggle="modal" data-target="#davidModal">read More</a>
                        </p>
                    </div>
                    <!-- <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="team-title">
                <h5>David Schwartz</h5>
                <span>Co-Owner, Strength and conditioning coach</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <%=image_tag("nickkratos-opted.jpg", alt: "team member", class: "img-responsive") %>
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Nicke Reimers</h4>
                        <p>
                            Nick graduated with a Bachelor’s degree in Nutritional Sciences and Master’s degree in Nutrition and Exercise Physiology from the University of Nebraska-Lincoln ...<a type="toggle", data-toggle="modal" data-target="#nickModal">read more</a>
                        </p>
                    </div>
                    <!-- <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="team-title">
                <h5>Nick Reimers</h5>
                <span>Strength and Conditioning Coach</span>
            </div>
        </div>
      </div>

      <div class="row staff-row">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-4 ml-auto">
            <div class="team-member">
                <div class="team-img">
                    <%=image_tag("dalton3.jpg", alt: "team member", class: "img-responsive") %>
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Dalton Barnard</h4>
                        <p>Dalton graduated from the University of
                            Nebraska-Lincoln with BS degrees in Exercise, Nutrition and Health Sciences as well as Dietetics ...<a type="toggle", data-toggle="modal" data-target="#daltonModal">read more</a>
                        </p>
                    </div>
                    <!-- <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="team-title">
                <h5>Cody Anthony</h5>
                <span>Strength and conditioning coach</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mr-auto">
            <div class="team-member">
                <div class="team-img">
                    <%=image_tag("greyson2.jpg", alt: "team member", class: "img-responsive") %>
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Greyson McDaniel</h4>
                        <p>
                            Greyson graduated from the University of Nebraska-Lincoln in December 2016 with a BS degree in Nutrition, Exercise and Health Science with an Athletic Coaching minor ...<a type="toggle", data-toggle="modal" data-target="#greysonModal">read more</a>
                        </p>
                    </div>
                    <!-- <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="team-title">
                <h5>Greyson McDaniel</h5>
                <span>Strength and conditioning coach</span>
            </div>
        </div>
      </div>
</div>

<%= render 'modals/cody_modal' %>
<%= render 'modals/david_modal' %>
<%= render 'modals/nick_modal' %>
<%= render 'modals/dalton_modal' %>
<%= render 'modals/greyson_modal' %>
<%= render 'shared/new_footer' %>
