<body id="form-body" class="form-content">
	<div class="container">
		<%= simple_form_for @article, html: { multipart: true }  do |f| %>

		  <%= f.input :title, placeholder: 'Title of Post' %>

		  <%= f.text_area :body, placeholder: 'Post content', class: "col-xs-12 article-text-input" %>

		  <%= f.label :image %>
			<%= f.file_field :image, class: 'u-full-width' %>
			<br>
		  <%= f.button :submit %>
		  <%=link_to 'Cancel', articles_path, class: "btn btn-default" %>
		<% end %>
	</div>
</body>   


