
<body id="form-body">
<%= render 'shared/alt-header' %>
<head>
<meta property="og:url" content="http://www.kratospf.com" />

<meta property="og:title" content="Kratos Performance Fitness" />

<meta property="og:description" content="Kratos defined - is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an Old School mentality of training combined with the newest research to deliver a top-notch product." />

<meta property="og:image" content="<%= asset_path('kratos8-opted.jpg') %>">

<meta name="description" content='Kratos defined- is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an Old School mentality of training combined with the newest research to deliver a top-notch product.' />

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta name="description" content='Kratos defined- is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an Old School mentality of training combined with the newest research to deliver a top-notch product.' />
</head>
	<div class="container">
		<div class="article-container">
			<h2><%= @article.title %></h2>
			<% if @article.image? %>
			<%= image_tag @article.image.url(:large), class: "img-fluid img-responsive" %>
			<% end %>
			<p><%= simple_format @article.body %></p>
		</div>
	</div>
</body>
