
<body id="form-body">
<%= render 'shared/alt-header' %>
<head>
<meta property="og:site_name" content="https://www.kratospf.com">
<meta property="fb:app_id" content="120566715320843">
<meta property="og:url" content="<%= article_url(@article) %>" />
<meta property="og:title" content="Product name">
<meta property="og:description" content="<%= @article.body %>" />
<meta property="og:image" content="<%= @article.image.url %>" />
</head>
	<div class="container">
		<div class="article-container">
			<h2><%= @article.title %></h2>
			<% if @article.image? %>
			<%= image_tag @article.image.url(:large), class: "img-fluid img-responsive" %>
			<% end %>
			<p><%= simple_format @article.body %></p>
		</div>
	</div>
</body>
