<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
    <body>
        <div class="video-container-background">
        <% if @video.video_url.present? %>
        <div class="button-container">
              <%= link_to("Previous Video", @video.previous_video, class: "button") if @video.previous_video %>
              <%= link_to("Next Video", @video.next_video, class: "button") if @video.next_video %> 
        </div>

        <div class="video-container">
          <h3 class="video-title"><%= @video.title %></h3>
            <div class="video-container">
              <div class="videoWrapper"><%= embed(@video.video_url) %></div>
        <% end %>
            </div>
        </div>

        <div class="button-container"><%=link_to 'delete video', (@video),
                method: :delete,
                class: "button video-button",
                data: {confirm: "Are you sure?" } %>
                <%=link_to 'edit video', edit_video_path(@video), class: "button video-button" %>
        </div>
      </div>

    </body>
  
</html>