<!DOCTYPE html>
<html>
<head>
  <title>Kratos Performance Fitness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
	<% flash.each do |message_type, message| %>
  <center><div class="flash-message <%= message_type %>"><%= message %></div></center>
	<% end %>
<body>

<%= yield %>

</body>

</html>
