<!DOCTYPE html>
<html>
<head>
  <title>Kratos Performance Fitness</title>
  <%= render 'application/favicon' %>
  <meta property="og:url" content="http://www.kratospf.com" />
  <meta property="og:title" content="Kratos Performance Fitness" />
  <meta property="og:description" content="Kratos defined - is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an Old School mentality of training combined with the newest research to deliver a top-notch product." />
  <meta name="og:image" content="<%= asset_path('kratos8-opted.jpg') %>">
  <meta name="description" content='Kratos defined- is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an Old School mentality of training combined with the newest research to deliver a top-notch product.' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <meta name="description" content='Kratos defined- is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an Old School mentality of training combined with the newest research to deliver a top-notch product.' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>

<%= yield %>

</body>

</html>
